{% extends 'base.html' %}

{% block content %}
  <h3>Detail Pelanggaran</h3>
  <dl class="row">
    <dt class="col-sm-3">Nama</dt><dd class="col-sm-9">{{ item.name }}</dd>
    <dt class="col-sm-3">Absen</dt><dd class="col-sm-9">{{ item.absen }}</dd>
    <dt class="col-sm-3">Kelas</dt><dd class="col-sm-9">{{ item.kelas }}</dd>
    <dt class="col-sm-3">Jenis Pelanggaran</dt><dd class="col-sm-9">{{ item.violation_type }}</dd>
    <dt class="col-sm-3">Alasan</dt><dd class="col-sm-9">{{ item.reason }}</dd>
  </dl>
  <a class="btn btn-secondary" href="{{ url_for('index') }}">Kembali</a>
  <a class="btn btn-warning" href="{{ url_for('edit', vid=item.id) }}">Edit</a>
{% endblock %}
